# Cypress
node_modules/
cypress/videos/
cypress/screenshots/
.env
cypress.env.json
cypress/fixtures/conduit-credentials.json
cypress/reports/

# Playwright
playwright/node_modules/
playwright/test-results/
playwright/playwright-report/
playwright/blob-report/
playwright/.cache/
playwright/.auth/
playwright/.env